<style type="text/css">
    .flash {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    }

    .flash.notice {
    background-color: #dff0d8;
    color: #3c763d;
    }

    .flash.alert {
    background-color: #f2dede;
    color: #a94442;
    }
</style>

<% flash.each do |key, value| %>
  <div class="flash <%= key %>">
    <%= value %>
  </div>
<% end %>
